// Utils
@import './utils/normalize';
@import './utils/vars';

// App
@import './app/base';
@import './app/main';

// Components
@import './components/loading';

.split {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.split>div {
    width: 100%;
    height: 100%;
}
.as-console {
    display: none !important;
}

.main{
    display: none;
}